__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.gitattributes
.gitkeep
.hg
.hgignore
.hgcheck
.svn
CVS
*.swp
*.swo
*~
.DS_Store
Thumbs.db
desktop.ini
data/
logs/
mlruns/
models/*.keras
models/*.pkl